# ✅ KEEP BUILD INPUTS, REMOVE ONLY RUNTIME / DEV STUFF

# Runtime data (good to ignore)
/data
/temp
/tmp

# Node
/node_modules/

# Dev / test
/test/
/testDataRoot
/test/output/
/test/temp

# IDE
.idea
.vscode
.nbproject
.settings
.project

# Git artifacts
.env
nohup.out

# Plugin caches
/plugins/**/versions/
/plugins/**/cache/
/plugins/**/bowercache/
