<div class="sidebar-item-inner">
        <div class="separator"></div>
        <button class="analytics-edit-sidebar-cancel action-secondary">
            <span class="analytics-edit-sidebar-cancel-inner">
                {{t 'app.cancel'}}
            </span>
    </div>
</div>
