body{
    
    .narrative-component .narrative-text-controls .narrative-content .narrative-content-inner .narrative-controls-container .narrative-indicators .narrative-progress
    {
        background-color:grey;
    }

    .narrative-content-inner{
        a:link { color: #9EC3FF !important; }
        a:visited { color: #DEADFF !important; }
    }
}